
body {
	font-size: 14px;
	font-family:"Segoe UI";
	line-height: 20px;
	color: #404040;
}
.dropdown-menu{
	cursor:	default;
	overflow-y: auto;
	overflow-x:hidden;
	margin: 0px;
	padding: 0px;
	/*min-height: 200px;*/
	max-height: 450px;
	min-width: 80%;
}

.glyphicon-chevron-down .glyphicon-refresh{
	color:grey;
}

.select{
	background-color: #CCCCCC;
}

input.error{
	border:1px solid red;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #FF3333;	
}

p.error{
	color:red;
	font-size: 12px;
}

#loader,#lastLine,#errorLoad{
	color:grey;	
	margin: 2px;
	padding: 5px;
}


@keyframes refresh{
	0%{-webkit-transform:rotate(0deg);}
	20%{-webkit-transform:rotate(72deg);}
	40%{-webkit-transform:rotate(144deg);}
	60%{-webkit-transform:rotate(216deg);}
	80%{-webkit-transform:rotate(288deg);}
	100%{-webkit-transform:rotate(360deg);}
}
/*@-webkit-keyframes refresh
{
	0%{-webkit-transform:rotate(0deg);}
	20%{-webkit-transform:rotate(72deg);}
	40%{-webkit-transform:rotate(144deg);}
	60%{-webkit-transform:rotate(216deg);}
	80%{-webkit-transform:rotate(288deg);}
	100%{-webkit-transform:rotate(360deg);}
}*/
.refresh-anim{
	animation: refresh 3s linear infinite;
  /*-webkit-animation: refresh 3s linear infinite;*/
}

.dropdown-menu > li.active{
	cursor:	pointer;
}



input.active::-webkit-input-placeholder{ 
	color: #DCDCDC; /*изменить цвет*/
}

input.active::-moz-placeholder { 
	color: #DCDCDC; /*изменить цвет*/

}